/*ref: https://codepen.io/sdobson/pen/aEWBQw*/
.board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    justify-content: center;
    align-content: center;
    grid-gap: 0;
    list-style: none;
    margin: 0 0 2vw;
    padding: 0;
    font-size: 20px;
}

.cell {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #FB9039;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*top thick edge*/
.cell:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
}

.cell:nth-child(n+28):nth-child(-n+36) {
    border-top-width: 4px;
}

.cell:nth-child(n+55):nth-child(-n+63) {
    border-top-width: 4px;
}

/*bottom thick edge*/
.cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
}

/*right thick edge*/
.cell:nth-child(3n) {
    border-right-width: 4px;
}

/*left most thick edge*/
.cell:nth-child(9n+1) {
    border-left-width: 4px;
}

/*.cell:focus, .cell:hover, .cell:active {*/
/*    background-color: #FB903950;*/
/*    outline: none;*/
/*}*/

.cellSpan {
    margin-top: 0.2rem;
}

.input {
    box-sizing: border-box;
    border: 0 none;
    height: 100%;
    width: 100%;
    background-color: #FB903900;
    margin: auto auto;
    text-align: center;
    font-size: 20px;
    z-index: 100;
}

.inputFixed {
    font-weight: bold;
    font-size: 24px;
}

.inputError {
    animation: error 0.5s linear;
    color: red;
}

@keyframes error {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.input:focus, .input:hover {
    background-color: #FB903950;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input[type=number] {
    -moz-appearance: textfield;
}
