/*ref: https://codepen.io/sdobson/pen/aEWBQw*/
.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 0;
    list-style: none;
    margin: 10px auto 2vw;
    padding: 0;
    font-size: 20px;
    width: 370px;
}

.boardX2 {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, 90px);
}

.boardX3 {
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
}

.cell {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #FB9039;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellX2 {

}

/*top thick edge*/
.cellX2:nth-child(n):nth-child(-n+4) {
    border-top-width: 4px;
}

.cellX2:nth-child(n+9):nth-child(-n+12) {
    border-top-width: 4px;
}

/*bottom thick edge*/
.cellX2:nth-child(n+13):nth-child(-n+16) {
    border-bottom-width: 4px;
}

/*right thick edge*/
.cellX2:nth-child(2n) {
    border-right-width: 4px;
}

/*left most thick edge*/
.cellX2:nth-child(4n+1) {
    border-left-width: 4px;
}

.cellX3 {

}

/*top thick edge*/
.cellX3:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
}

.cellX3:nth-child(n+28):nth-child(-n+36) {
    border-top-width: 4px;
}

.cellX3:nth-child(n+55):nth-child(-n+63) {
    border-top-width: 4px;
}

/*bottom thick edge*/
.cellX3:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
}

/*right thick edge*/
.cellX3:nth-child(3n) {
    border-right-width: 4px;
}

/*left most thick edge*/
.cellX3:nth-child(9n+1) {
    border-left-width: 4px;
}

.cell:focus, .cell:hover, .cell:active {
    background-color: #FB903950;
    outline: none;
    cursor: pointer;
}

.cellFixed {
    font-weight: bold;
    font-size: 24px;
}

.cellError {
    animation: error 0.5s linear;
    color: red;
}

.cellSelected {
    background-color: #a3d2caB0;
}

.cellConnected {
    background-color: #a3d2ca40;
}

.cellSameValue {
    background-color: #a3d2caC0;
}

.cellSpan {
    margin-top: 0.2rem;
}

@keyframes error {
    0% {
        font-size: 20px;
        /*transform: scale(1);*/
    }
    20% {
        font-size: 32px;
        /*transform: scale(1.5);*/
    }
    40% {
        font-size: 40px;
        /*transform: scale(1.5);*/
    }
    70% {
        font-size: 32px;
        /*transform: scale(1.5);*/
    }
    100% {
        font-size: 20px;
        /*transform: scale(1);*/
    }
}

/* Firefox */
.input[type=number] {
    -moz-appearance: textfield;
}
