.main {
    width: 400px;
    margin: 6px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.radioGroup {
    margin: auto 20px;
}

.game {
    width: 150px;
}